@import url(https://fonts.googleapis.com/css?family=PT+Serif+Caption|Open+Sans:300,300italic,700);

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #131313;
  background-image: url(../imgs/fencing-dark.png);
  background-size: cover;
  color: #fff;
}

.header > h3 > a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.header > h3 > a:hover {
  color: #f12545;
}

.nav > li > a {
  color : #fff;
  padding: 10px 2px 5px;
  margin: 10px 15px;
  border-radius: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: black;
  color: #f12545;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #000;
  border-bottom: 4px solid #f12545;
}

.jumbotron {
  background: rgba(0, 0, 0, 0);
  text-align: center;
}

.jumbotron h1 {
  font-size: 2.4em;
}

.jumbotron p {
  font-size: 1.2em;
  font-weight: 200;
}

.row-projects {
  margin: 40px 0;
}

.projects {
  width: 260px;
  margin: 20px;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 20px 10px;
}

.projects:hover {
  background-color: #e3e3e3;
  color: #333;
}

.btn-default {
  background-color: inherit;
  color: #f12545;
  border: 2px solid #f12545;
  font-style: 1.4em;
}
.btn-default:hover {
  background-color: #f12545;
  color: #fff;
  border: 2px solid #f12545;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "PT Serif Caption", cursive;
  font-weight: 400;
}
p,a,li,blockquote {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/* FOOTER */

.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 40px;
   width: 100%;
   background: #000;
   padding-top: 10px;
}

.footer-left {
  float: left;
  overflow: hidden;
  padding-left: 10%;
}

.footer-right {
  float: right;
  overflow: hidden;
  padding-right: 10%;
}

/* TEAM PAGE */

.team-members {
  margin-top: 40px;
  padding: 20px;
}

.team-members > p {
  text-align: left;
}

figure > img {
  width: 180px;
  height: 180px;
  padding: 10px;
}

figcaption {
  font-size: 1.5em;
  margin-bottom: 20px;
}
